@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation: fadeInUp .5s linear;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown, .carousel-tittle, .carousel-inner .carousel-item .caption h1, .carousel-button, .carousel-inner .carousel-item .caption button {
  animation: fadeInDown .5s linear;
  animation-fill-mode: forwards;
}

.styleNavItem, .header a {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.styleNavItem:hover, .header a:hover {
  color: #00adef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 420px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 708px;
  }
}

@media (max-width: 767.98px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
    max-width: calc(100% - 60px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 964px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1280px) {
  .container {
    width: 1180px;
  }
}

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #141414;
  transition: all 1s;
}

.header__over {
  background-color: #141414;
  height: 80px;
}

.header {
  height: 80px;
  transition: all .5s;
}

.header .header__top .nav {
  justify-content: flex-end;
}

.header .header__top .nav a {
  padding-bottom: 0;
}

.header .header__top .nav a span {
  position: unset;
}

.header .header__top .nav a i {
  margin-right: 4px;
}

.header .navbar {
  transform: translateY(-6px);
  position: relative;
}

.header .navbar .navbar-brand.image {
  transform: translateY(-10px);
  padding-top: 0;
}

.header .navbar .navbar-brand.text {
  position: absolute;
  left: 150px;
  top: 30px;
}

.header .navbar .navbar-collapse {
  position: absolute;
  right: 50px;
  top: 45px;
}

.header .navbar .navbar-collapse .navbar-nav a {
  margin: 0 18px;
  padding: 0;
}

.header .navbar .navbar-toggler .navbar-toggler-icon i {
  color: #fff;
  transform: translate(30px, 20px);
}

.header .navbar .navbar-toggler .navbar-toggler-icon i.fa-times {
  display: none;
}

.header .navbar .navbar-toggler:focus, .header .navbar .navbar-toggler:hover {
  outline: none;
}

.header .navbar .navbar-toggler:focus .navbar-toggler-icon i, .header .navbar .navbar-toggler:hover .navbar-toggler-icon i {
  color: #00adef;
}

.header .navbar .search-icon {
  position: absolute;
  right: 20px;
  top: 45px;
}

.header .navbar .search-icon i {
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  .header {
    height: 97px;
  }
  .header__over {
    height: 97px;
  }
}

@media screen and (min-width: 1208px) {
  .header {
    height: 108px;
  }
  .header__over {
    height: 108px;
  }
}

@media screen and (max-width: 1199px) {
  .header .navbar {
    background-color: #141414;
    z-index: 9999;
    padding: 0;
    margin-top: 5px;
  }
  .header .navbar .navbar-brand.image {
    padding-left: 20px;
  }
  .header .navbar .navbar-brand.text {
    top: 20px;
  }
  .header .navbar .navbar-collapse {
    margin-top: 55px;
    position: unset;
  }
  .header .navbar .navbar-collapse .navbar-nav {
    text-align: center;
  }
  .header .navbar .navbar-collapse a {
    font-size: 24px;
    line-height: 62px;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon i {
    transform: translate(0px, 22px);
  }
  .header .navbar .search-icon {
    top: 40px;
    right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .header .navbar .navbar-brand.image {
    transform: translateY(-5px);
  }
  .header .navbar .navbar-brand.image img {
    height: 44px;
  }
  .header .navbar .navbar-brand.text {
    top: 10px;
    left: 100px;
  }
  .header .navbar .navbar-brand.text img {
    height: 23px;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon i {
    transform: translateY(15px);
  }
  .header .navbar .search-icon i {
    transform: translate(0px, -17px);
  }
}

@media screen and (max-width: 768px) {
  .header .header__top .nav a {
    padding-left: 0;
  }
  .header .header__top .nav a span {
    display: none;
  }
}

.carousel-inner .carousel-item .carousel-caption {
  text-align: left;
  left: 50px;
  top: 50px;
  right: unset;
  width: 47%;
}

.carousel-inner .carousel-item .caption {
  display: none;
  background-color: #fff;
  color: #000;
  padding: 40px 0;
  padding-left: 30px;
}

.carousel-inner .carousel-item .caption h1 {
  font-size: 28px;
}

.carousel-item .img {
  background-size: cover;
  background-position: center;
  height: 515px;
}

.carousel-item .img.item01 {
  background-image: url(../img/carousel06.webp);
}

.carousel-item .img.item02 {
  background-image: url(../img/carousel04.webp);
}

.carousel-item .img.item03 {
  background-image: url(../img/carousel02.webp);
}

.carousel-item .img.item04 {
  background-image: url(../img/carousel08.webp);
}

.carousel-item .img.item05 {
  background-image: url(../img/carousel05.webp);
}

.carousel-item .img.item06 {
  background-image: url(../img/carousel07.webp);
}

.carousel-tittle, .carousel-inner .carousel-item .caption h1 {
  transform: translateY(-50px);
  opacity: 0;
  font-family: 'Playfair Display', serif;
  font-size: 39px;
  color: normal;
  font-weight: 400;
  margin-bottom: 30px;
  animation-delay: .5s;
}

.carousel-button, .carousel-inner .carousel-item .caption button {
  transform: translateY(-30px);
  opacity: 0;
  background-color: #333;
  border: 1px solid #333;
  padding: 6px 20px;
  border-radius: 1px;
  font-size: 15px;
  color: #ccc;
  font-weight: 500;
  animation-delay: 1s;
  animation-duration: .3s;
}

.carousel-button:hover, .carousel-inner .carousel-item .caption button:hover {
  background-color: #000;
  border-color: #000;
  color: normal;
}

.carousel-control-next, .carousel-control-prev {
  opacity: 1;
  width: 100px;
}

.carousel-control-next .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-prev .carousel-control-prev-icon {
  background-image: none;
}

.carousel-control-next .carousel-control-next-icon i, .carousel-control-next .carousel-control-prev-icon i, .carousel-control-prev .carousel-control-next-icon i, .carousel-control-prev .carousel-control-prev-icon i {
  font-size: 35px;
}

.carousel-control-next .carousel-control-next-icon:hover, .carousel-control-next .carousel-control-prev-icon:hover, .carousel-control-prev .carousel-control-next-icon:hover, .carousel-control-prev .carousel-control-prev-icon:hover {
  opacity: .8;
}

.carousel-control-next:active i, .carousel-control-prev:active i {
  color: #00adef;
}

@media screen and (max-width: 1200px) {
  .carousel-inner .carousel-item img {
    height: auto;
  }
  .carousel-inner .carousel-item .carousel-caption {
    top: 20px;
    left: 80px;
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner .carousel-item .img {
    max-height: 450px;
  }
  .carousel-inner .carousel-item .carousel-caption {
    left: 100px;
  }
  .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 28px;
  }
  .carousel-inner .carousel-item .carousel-caption button {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-inner .carousel-item .img {
    max-height: 380px;
  }
  .carousel-inner .carousel-item .caption {
    display: block;
  }
  .carousel-inner .carousel-item .caption h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .carousel-control-next, .carousel-control-prev {
    top: 30%;
    bottom: unset;
  }
  .carousel-control-next .carousel-control-next-icon i, .carousel-control-next .carousel-control-prev-icon i, .carousel-control-prev .carousel-control-next-icon i, .carousel-control-prev .carousel-control-prev-icon i {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .carousel-control-next, .carousel-control-prev {
    top: 25%;
  }
  .carousel-inner .carousel-item .img {
    max-height: 240px;
  }
  .carousel-inner .carousel-item .caption {
    height: 160px;
    padding: 25px 0;
    padding-left: 30px;
  }
}

.search .search__content {
  padding: 1.855rem 0;
}

.search .search__content .input-group .form-control, .search .search__content .input-group .input-group-text {
  border-radius: 0;
  background: #ececec;
  border: 1px solid #ececec;
}

.search .search__content .input-group .form-control {
  background-clip: unset;
  width: calc(100% - 4.425rem);
}

.search .search__content .input-group .form-control::placeholder {
  font-size: 16px;
  color: #ccc;
  font-weight: 500;
}

.search .search__content .input-group .form-control:focus {
  box-shadow: none;
}

.search .search__content .input-group .input-group-text {
  padding: 1px 1.43rem 1px 1.43rem;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.search .search__content .input-group .input-group-text:hover {
  color: rgba(51, 51, 51, 0.8);
}

.intro {
  padding: 50px 0;
  opacity: 0;
}

.intro .intro__content.container {
  padding: 0;
}

.intro .intro__content.container .intro__detail {
  max-width: 66.66667%;
  text-align: left;
  padding: 50px 0;
}

.intro .intro__content.container .intro__detail h2 {
  margin-bottom: 1.4rem;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: normal;
  font-weight: normal;
}

.intro .intro__content.container .intro__detail p {
  font-size: 12px;
  color: normal;
  font-weight: 500;
}

.intro .intro__content.container .intro__detail p a {
  color: #00adef;
}

.intro .intro__content.container .intro__detail p a:hover {
  color: #0088c6;
}

.intro .intro__content.container .intro__detail button {
  margin-top: 30px;
  background-color: #00adef;
  border: 1px solid #00adef;
  padding: normal normal;
  border-radius: 1px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}

.intro .intro__content.container .intro__detail button:hover {
  background-color: #0088c6;
  border-color: #0088c6;
  color: normal;
}

@media screen and (max-width: 1024px) {
  .intro .intro__content.container .intro__detail {
    max-width: 100%;
  }
  .intro .intro__content.container .intro__detail h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .intro .intro__content.container .intro__detail button {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */