*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    @include styleText($fs-0,$color-white-0, normal);
    font-family: 'Montserrat', sans-serif;
    background-color: $color-black;
   
}

