
    .carousel-inner
    {
        
        .carousel-item
        {
            
            .carousel-caption
            {
                text-align: left;
                left: 50px;
                top: 50px;
                right: unset;
                width: 47%;

            }

            .caption{
                display: none;
                background-color: $color-white-0;
                color: $color-black;
                padding: 40px 0;
                padding-left: 30px;
               
                
                
                h1{
                    @extend .carousel-tittle;
                    font-size: $fs-4;
                }
                button{
                    @extend .carousel-button;
                }
            }
        }

        
    }


   .carousel-item
    {
        .img{
            background-size: cover;
            background-position: center;
            height: 515px;
        }
        .img.item01{
            background-image: url(../img/carousel06.webp);
        }
        .img.item02{
            background-image: url(../img/carousel04.webp);
        }
        .img.item03{
            background-image: url(../img/carousel02.webp);
        }
        .img.item04
        {
            background-image: url(../img/carousel08.webp);
        }
        .img.item05
        {
            background-image: url(../img/carousel05.webp);
        }
        .img.item06
        {
            background-image: url(../img/carousel07.webp);
        }
    }


.carousel-tittle
{
    transform: translateY(-50px);
    opacity: 0;
    font-family: 'Playfair Display', serif;
    @include styleText($fs-3 - 1px, normal, 400);
    margin-bottom: $mg-3;
    @extend .fadeInDown;
    animation-delay: .5s;
}

.carousel-button
{
    transform: translateY(-30px);
    opacity: 0;
    @include styleButton($color-black-1,$color-black-1, 6px, 20px);
    border-radius: 1px;
    @include styleText($fs-0 - 1px, $color-gray-1, 500);
    &:hover{
        @include styleHoverBtn($color-black, $color-black, normal);
    }
    @extend .fadeInDown;
    animation-delay: 1s;
    animation-duration: .3s;
}


.carousel-control-next, .carousel-control-prev
{
    opacity: 1;
    width: 100px;
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-image: none;
        i{
            font-size: 35px;
            
        }
        &:hover
        {
            opacity: .8;

        }
        
       
        
    }
    &:active
    {
        i{
            color: $color-blue;
        }
                
    }
  
    
}

@include responsive('extra-large')
{
  
        .carousel-inner
        {
            .carousel-item
            {
                img{
                    height: auto;
                }
                .carousel-caption
                {
                    top: 20px;
                   left: 80px;
                }
            }
        }
}


@include responsive('large')
{
   
        .carousel-inner
        {
            .carousel-item
            {
                .img
                {
                    max-height: 450px;
                }
                .carousel-caption
                {
                    
                   left: 100px;

                   h1{
                       font-size:$fs-4 ;
                   }
                   button{
                       font-size: $fs-0 - 3px;
                   }
                }
            }
        }
            
    
}

@include responsive('medium')
{
     .carousel-inner
        {
            .carousel-item{
                .img{
                    max-height: 380px;
                }
                .caption
                {
                    display: block;
                    
                    h1{
                        font-size:$fs-4 ; 
                        margin-bottom: 20px;
                    }
                    
                }
            }
        }
        .carousel-control-next, .carousel-control-prev{
            top: 30%;
            bottom: unset;
            .carousel-control-next-icon, .carousel-control-prev-icon{
                i{
                    font-size: 30px;
                }
            }
        }
    
}

@include responsive('small')
{
    
        .carousel-control-next, .carousel-control-prev{
            top: 25%;
        }
        .carousel-inner
        {
            .carousel-item
            {
                .img{
                    max-height: 240px;
                }
                .caption
                {
                    height: 160px;
                    padding: 25px 0;
                    padding-left: 30px;
                }
            }
        }
        
    
    
}

